<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>
<body>
  <div class="jumbotron text-center">
    <h1 class="">FAILED<span style="color: rgb(153, 0, 0);">!</span></h1>
    <p class="lead"><strong>Please enter both <span style="color: crimson;">STATE AND DISTRICT</span>.</strong> Please try again.</p>
    <p style="font-size: smaller;"> note: state wise data is present at the bottom most of the page</p>
    <hr style="background-color: darkgoldenrod;">
    
    <form action="/failure" method="POST">
      <button class="btn btn-lg btn-warning">Try Again</button>
    </form>
  </div>
</body>
</html>