/* main-section */

h1{
  font-size: 3rem;
  margin-bottom: 0%;
}

.state{
  font-size: x-large;
  color: rgb(184, 184, 0);
}

.population{
  font-size: small;
  color:#414345;
  text-align: center;
}

h6{
  color: white;
}


.mt-5-custom{
  margin-top: 10%;
}


.last{
  border: 0.2px solid rgba(128, 128, 128, 0.418);
  box-shadow: 0 0 0.1px 0.1px;
}

.data-box{
  border-radius: 10px;
  padding: 2%;
  color: #fff;
  font-weight: 900;
  transition: 0.3s;
  border-radius: 25% 10%;
  font-size: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.22);
}

.active-cases{
  background-image: linear-gradient(#de6262,#ffb88c);
}

.confirmed{
  background-image: linear-gradient(#232526,#414345);
}

.deaths{
  background-image: linear-gradient( #579cee,#336fb9);
}

.deaths:hover, .confirmed:hover, .active-cases:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.84);
  font-size: 2.4rem;
}

.data-section{
  margin:5%;
}


.container-fluid{
  padding-inline: 10%;
} 


@media (max-width: 992px) {
  .container-fluid{
    padding-inline: 6%;
  }
} 


